## Q1

In [1]:
num_range = range(1,26)

In [4]:
def odd_num_filter(rng):
    odd_nums = []
    for i in rng:
        if i % 2 > 0:
            odd_nums.append(i)
    return odd_nums

In [5]:
odd_num_filter(num_range)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

## Q2

In [9]:
def sum(*num):
    mysum = 0
    for n in num:
        mysum = mysum + n
    return mysum

In [10]:
sum(2,5,3.5,6.2)

16.7

In [13]:
def introduction(**inputdata):
    print("\nData type of argument:", type(inputdata))
    for key, value in inputdata.items():
        print("{} is {}".format(key,value))

In [14]:
introduction(Firstname="Test", Lastname="Student")
introduction(Firstname="Igor", Lastname="Nakrychsky", Email="novosib@hotmail.com", Country="USA")

Data type of argument: <class 'dict'>
Firstname is Test
Lastname is Student

Data type of argument: <class 'dict'>
Firstname is Igor
Lastname is Nakrychsky
Email is novosib@hotmail.com
Country is USA

## Q3

In [18]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

In [19]:
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [28]:
numbers = [2, 4, 6, 8, 10, 12, 14, 16,
18, 20]

In [42]:
def print_list_items(n, mylist):
    counter = 0
    for i in range(0,n):
        print(mylist[i])

In [43]:
print_list_items(5, numbers)

2
4
6
8
10

## Q4

In [52]:
def odd_number_generator(b):
    n=1
    for i in range(0,b):
        yield n
        n+=2

In [53]:
odd_number_generator(5)

In [54]:
for i in odd_number_generator(5):
    print (i)

1
3
5
7
9

## Q5

In [80]:
def prime_number_generator():
    for i in range(2,1000):
        for j in range(2,i+1):
            if i % j == 0 and i!=j:
                break
            elif i == j:
                yield i

In [84]:
count = 0
for i in prime_number_generator():
    print(i)
    count = count + 1
    if count > 19:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71