## Q1

# SQL database are vertically scallable and use SQL language. NoSQL are vertically scallable. NoSQL is better for unstructured data like documents or JSON.

## Q2

DDL stands for Data Definition Language. With the help of which you can create and delete a table. 
CREATE: Is used to create a database or a table within the database
CREATE DATABASE if not exists test1 
CREATE TABLE if not exists test1.test_table (c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 DATETIME

DROP: Remove table from database
DROP TABLE table_name;

ALTER: The ALTER TABLE statement is used to add, delete, or modify columns in an existing table. 
Add new column: 
ALTER TABLE Customers
ADD Email varchar(255);

Delete column:
ALTER TABLE Customers
DROP COLUMN Email;

Modify existing column:
ALTER TABLE Student MODIFY COURSE varchar(20);

TRUNCATE: Deletes row from the table but keeps the table itself. 
TRUNCATE TABLE Employees;

## Q3

DML - Data modification language. 

INSERT: Inserts a row into a table
mycursor = mydb.cursor()
now = datetime.datetime.now()
mycursor.execute(f"insert into test1.test_table values(1, 'mytest', 5, 25.5, '{now}')")
mydb.commit()

UPDATE: updates data for one or more rows in a table
UPDATE test1.test_table
SET c1 = 2, c2 = 'mytest1', c3 = 6, c4 = 55.5, c5 = now()
WHERE c1 = 1

DELETE - deletes one or more rows from the table
DELETE from test1.test_table
WHERE c1 = 2

## Q4

DQL: Data Query Language. Is used to return data from database that saticfies specific conditions described in a query. 
Select * from test1.test_table WHERE c1 = 2

## Q5

Primary key is particular column that uniquely identifies a row in that column. Foreign key is column in a table that represent primary key from a different table that is used to join two tables together.

## Q6

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM test1.test_table")
my_data = mycursor.fetchall()
print(my_data[0])
mydb.close()

cursor() is an object that allows to execute commands on a database
execute() method executes query on a database

## Q7

Step 1: Getting Data (From, Join) FROM citizen. ...
Step 2: Row Filter (Where) After getting qualified rows, it is passed on to the Where clause. ...
Step 3: Grouping (Group by) ...
Step 4: Group Filter (Having) ...
Step 5: Return Expressions (Select) ...
Step 6: Order (Order by) and Paging (Limit / Offs